@media (hover: none) {
    .noose {
        display: none !important;
    }
    @media only screen and (orientation: portrait){
        html, body {
            background-image: url(../images/mobile-background.jpg);
            background-color: black;
            font-size: 3vh;
            overflow: scroll;
        }

        #banner {
            text-align: center;
            font-size: 7vh;
        }

        nav {
            flex-direction: column;   
            text-align: center;
            left: 50%;
            transform: translate(-50%);
        }

        nav > a {
            padding: .125em;
        }

        nav > a:active {

        }

        .popup  {
            top: 35%;
            max-height: 30vh;
            min-width: fit-content;
        }

        .exit {
            width: 3vh;
            height: 3vh;
        }

        button {
            color: black;
            background-color: white;
        }
    }
}